<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Elements visible all the time -->
    <%= render 'layouts/navigation/header' %>
    <!-- Elements collapses on smaller devices -->
    <%= render 'layouts/navigation/collapsible_elements' %>
  </div>
</nav>
